---
layout: default
---

<main role="main" class="cf">
<section class="featured">
  <ul class="featuredlinks">
    <li>
      {% for post in site.categories["words"] | post.tag = featured limit:1 %}
      <a href="{{site.baseurl}}{{post.url}}">
        {% assign image = post.images[0] %}
        {% include image-nocaption.html image=image %}
        <h3>{{post.title}}</h3>
        {% if post.subtitle %}
        <p>{{post.subtitle}}</p>
        {% endif %}
      </a>
      {% endfor %}
    </li>
    <li>
      {% for post in site.categories["photos"] | post.tag = featured limit:1 %}
      <a href="{{site.baseurl}}{{post.url}}">
        {% assign image = post.images[0] %}
        {% include image-nocaption.html image=image %}
        <h3>{{post.title}}</h3> 
        {% if post.subtitle %}
        <p>{{post.subtitle}}</p>
        {% endif %}       
      </a>
      {% endfor %}
    </li>
    <li>
      <a href="">
        <img src="images/chimes-1600.jpg" alt="Chimes" />
        <h3>Electronic chimes for church steeple</h3>
        <p>Arduino project</p>        
      </a>
    </li>
  </ul>
</section>
<div class="postsandphotos">
<section>
  <h2>Other Words</h2>
  {% for post in paginator.posts limit:4 %}
 <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h3><a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">
                {{post.title}}</a></h3>
            <time itemprop="dateCreated" datetime="{{post.date}}">
                {{post.date | date:"%B %-d, %Y"}}</time>
        </header>
        <p>{{post.summary | strip_html}} <a href="{{site.baseurl}}{{post.url}}" title="read more" class="more">Read more</a></p>
    </article>
    {% endfor %} 
    <div class="pagination">
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <p class="prevLink"><a href="{{site.baseurl}}/" class="previous">newer entries</a></p>
      {% else %}
      <p class="prevLink"><a href="{{site.baseurl}}/words/page{{paginator.previous_page}}" class="previous">newer entries</a></p>
      {% endif %}
      {% endif %}
      {% if paginator.next_page %}
      <p class="nextLink"><a href="{{site.baseurl}}/words/page{{paginator.next_page}}" class="next">older entries</a></p>
      {% endif %}
    </div>
</section>
<section class="photos">
  <h2>Photos</h2>
  <ul class="photofeed">
    <li>
      <a href="">
        <img src="images/stanfordband-1600.jpg" alt="Stanford band" />
        <h3>Stanford Band</h3>
      </a>
    </li>
    <li>
      <a href="">
        <img src="images/baldeagle-1600.jpg" alt="Bald eagle" />
        <h3>Bald eagles on the Iowa River</h3>        
      </a>
    </li>
    <li>
      <a href="">
        <img src="images/chimes-1600.jpg" alt="Chimes" />
        <h3>Electronic chimes for church steeple</h3>
      </a>
    </li>
    <li>
      <a href="">
        <img src="images/chimes-1600.jpg" alt="Chimes" />
        <h3>Electronic chimes for church steeple</h3>        
      </a>
    </li>
  </ul>
</section>
</div>
<section class="projects">
  <h2>Projects</h2>
  <ul class="projectlinks">
    <li>
      <a href="">
        <img src="images/stanfordband-1600.jpg" alt="Stanford band" />
        <h3>Baby, It's All Right Now</h3>
        <p>In defense of the Stanford band</p>
      </a>
    </li>
    <li>
      <a href="">
        <img src="images/baldeagle-1600.jpg" alt="Bald eagle" />
        <h3>Bald eagles on the Iowa River</h3>        
      </a>
    </li>
    <li>
      <a href="">
        <img src="images/chimes-1600.jpg" alt="Chimes" />
        <h3>Electronic chimes for church steeple</h3>
        <p>Arduino project</p>        
      </a>
    </li>
    <li>
      <a href="">
        <img src="images/chimes-1600.jpg" alt="Chimes" />
        <h3>Electronic chimes for church steeple</h3>
        <p>Arduino project</p>        
      </a>
    </li>
  </ul>
</section>
</main>