<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="layout" content="post"/>
	<title>&quot;Baby, It's All Right Now&quot;</title>
	<meta name="subtitle" content="&quot;In defense of the Stanford band&quot;"/>
	<meta name="date" content="2016-01-03"/>
	<meta name="category" content="words"/>
	<meta name="featured" content="yes"/>
	<meta name="excerpt_separator" content="&lt;!-- more --&gt;"/>
	<meta name="summary" content="&quot;The Stanford band's goal was to make fun of Iowans, and it succeeded.&quot;"/>
</head>
<body>

<p>images:</p>

<pre><code>-   url: /images/stanfordband
    extension: jpg
    alt: Stanford band
-   url: /images/tuskensnare
    extension: jpg
    alt: Tusken raider conductor; Stanford snare drummer
    caption: Tusken raider gaderffii &amp;gt; drum major mace; You might recognize this drummer from &lt;a href=&quot;https://www.youtube.com/watch?v=iHjLy8cKseE&quot;&gt;Jimmy Kimmel&lt;/a&gt;
-   url: /images/allofthelights
    extension: jpg
    alt: Stanford band playing 'All of the Lights'
    caption: Stanford band playing 'All of the Lights' at the 2011 NCAA Tennis Tournament. This song was a single in November 2010 and they're playing it in May 2011. When did Freddie Mercury die?
-   url: /images/stanfordtree
    extension: jpg
    alt: The Stanford Dollies and the Tree before a football game
    caption: They know their tree is ugly. No need to point it out.
-   url: /images/bandtouchdown
    extension: jpg
    alt: The Stanford band cheers a touchdown during a UCLA game
    caption: Look at how much fun they're having winning football games
</code></pre>

<hr />

<p>{% assign image = page.images[0] %}
{% include image.html image=image %}</p>

<p>Here’s your assignment: Make fun of Iowans.</p>

<p>That was Stanford band’s goal for the Rose Bowl. Just as Iowa’s football team’s was to win. Stanford’s band has had better performances and easier opponents, but they certainly accomplished their goal more than the Iowa football team did.<!-- more --></p>

<p>All of my Iowa friends are freaking out about their Rose Bowl halftime show, and I’m finding myself being the guy on social media explaining why I think something’s funny. That’s not fun.</p>

<p>{% assign image = page.images[1] %}
{% include image.html image=image %}</p>

<h3 id="afewdisclosures">A few disclosures</h3>

<p>I graduated from and worked for the University of Iowa. I was rooting hard for the Hawkeyes yesterday. Yesterday someone asked me where I was from and I found myself saying “Iowa”. I explained I grew up in Cincinnati, but, for some time now, I’ve considered myself an Iowan. I did live in Palo Alto and was a photographer at Stanford. During that time, I told people I was from Iowa. They were probably pretty sick of me talking about how awesome Iowa was. I would talk about how much better our gamedays were than theirs. I was insufferable. I’m sure they just went back to their 72 degrees and baseball in February.</p>

<p>I also actually haven’t seen the full Stanford performance. I haven’t seen Iowa’s either. Part of it is because the reports I’ve read say ESPN cut away because of the content. I don’t really see proof that that is the case. I’m actually curious besides the Hawkeyes that made the trip if any of my other Hawkeye friends that are upset about it saw any more of the show than I did. Basically the gist I got was “They’re making fun of us because we’re farmers.” If anyone has a full video, I’d love to see it. Because unless they take a dump on a Grant Wood at the 50 yard line or something, I don’t really see where all the anger comes from.</p>

<p>UPDATE: I did find a script from the band&#8217;s <a href="https://www.facebook.com/lsjumb/posts/10154484759815760" title="Script of Stanford band's halftime show">Facebook page</a>. Seems pretty tame.</p>

<h3 id="“they’renotagoodband">“They’re not a good band&quot;</h3>

<p>While shooting, I spent a ton of time around the Stanford band. There are aspects that can be childish and annoying, but they are the best at it. I always appreciated the huge commitment they had to their job. As a band in the stands, I don’t know of many better ones. I would love to see a compiled catalog of what they play. It’s always pretty bleeding edge, especially for a format that is 100+ years old. They were the first band I’ve heard play “Black Skinhead” in the spots where other bands might play “Mars”. (They play that one though too.)</p>

<p>They are at all the events and do their main job really well: entertain.</p>

<p>{% assign image = page.images[2] %}
{% include image.html image=image %}</p>

<h3 id="evenstanfordfanswereapologizingforthem">&#8220;Even Stanford fans were apologizing for them&#8221;</h3>

<p>I saw this quite a bit at Stanford. I once saw a Stanford baseball player heckle the band as they went on the field at a football game. He was turning to those around him and saying, “We’re embarrassed by them. We don’t like them either.” So I guess the folks that are mad at the band can find solace in that. Even Stanford hates them.</p>

<p>But when that baseball player is back at a game 10 years after graduating and hears “All Right Now” played after a touchdown, he&#8217;ll probably get goosebumps.</p>

<h3 id="“iowafansbooedthemoffthefield">“Iowa fans booed them off the field&quot;</h3>

<p>First, unless they stopped their show halfway through, that’s not totally true. I’m sure they did boo them as they went off the field. And while they were on the field.</p>

<p>A few of my friends who were complaining about this are big pro wrestling fans. The Stanford band is playing the role of the heel. They were doing their job and Iowa fans were doing theirs: booing them. That’s awesome. That’s what makes it fun. I’ve always appreciated that guy who goes into pro wrestling and takes on that role. It’s easier to be the hero. It’s easier to just play “Bohemian Rhapsody” for the 100th time.</p>

<p>{% assign image = page.images[3] %}
{% include image.html image=image %}</p>

<h3 id="“let’ssictheiowaniceguyonthem">“Let’s sic the Iowa Nice Guy on them&quot;</h3>

<p>Scott Seipker does a fantastic job of setting the record straight in a not-your-usual Iowan way. He’s normally targeting reporters or politicians who are just missing the mark but a comedian arguing against comedy is a little different. Yeah “they’re all farmers” is a stereotype. I’ll admit it’s a pretty lazy one. But Stanford’s band works in stereotypes the way other artists might work in oils or clay.</p>

<p>It seems kind of weird to be upset about that though. Aren’t there a ton of farmers in Iowa? Aren’t Iowans like really really proud of that? So much so that we somehow get past NCAA rules to post a political statement on our helmets every game.</p>

<h3 id="wewerealreadylosing35-0">&#8220;We were already losing 35&#8211;0&#8221;</h3>

<p>This is why most people are upset. At this point in the game, we were getting our asses handed to us. It may not have looked like it, but the band planned this show weeks in advance. I was really hoping they&#8217;d call an audible and come out and make a &#8220;35&#8211;0&#8221; formation. Maybe even dig into the Iowa band playbook and play a Journey medley. Or go edgy and play Michael Jackson. But they certainly weren&#8217;t going to say, &#8220;You know what these poor people traveled across the country to see at least one point scored and they aren&#8217;t getting it. Let&#8217;s go easy on them.&#8221; It would have been sadder if they felt sorry for us.</p>

<p>{% assign image = page.images[4] %}
{% include image.html image=image %}</p>

<h3 id="respecttherosebowl">&#8220;Respect the Rose Bowl&#8221;</h3>

<p>I&#8217;ve also seen a bunch of words that 60 year old Republicans use like &#8220;tradition&#8221; and &#8220;class&#8221; and &#8220;respect&#8221;. That&#8217;s what ends up offending me more. It&#8217;s a football game that we are watching for entertainment. We&#8217;re not going to get any points for having the least amount of fun.</p>

</body>
</html>
