<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title> 
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description}}{% endif %}">
  {% include favicons.html %}
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">  
  <script src="{{site.baseurl}}/scripts/modernizr.custom.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% if page.path contains '_posts' %}
  <style>
  body {
    max-width: 900px;
  }
  </style>
  {% endif %}
</head>
<body>
<header role="banner" class="page-header" id="top">
  <div class="container">
  <a class="logo" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 502 502">
      <path d="M165.9,15.9C69.7,50.7,1,142.8,1,251c0,17.9,1.9,35.3,5.5,52.1L229.8,79.8L165.9,15.9z"/>
      <path d="M486.1,165.9C451.3,69.7,359.2,1,251,1c-17.9,0-35.3,1.9-52.1,5.5l223.3,223.3L486.1,165.9z"/>
      <path d="M495.5,198.9L272.2,422.2l63.9,63.9C432.3,451.3,501,359.2,501,251C501,233.1,499.1,215.7,495.5,198.9z"/>
      <path d="M15.9,336.1C50.7,432.3,142.8,501,251,501c17.9,0,35.3-1.9,52.1-5.5L79.8,272.2L15.9,336.1z"/>
      <rect id="secondbase" x="222.7" y="112.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -26.1859 218.7818)" width="56.6" height="56.6"/>
      <rect id="firstbase" x="332.7" y="222.7" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 793.7493 173.2183)" width="56.6" height="56.6"/>
      <rect id="thirdbase" x="112.7" y="222.7" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 418.1859 328.7817)" width="56.6" height="56.6"/>
      <polygon id="homeplate" points="211,361 251,401 291,361 291,321 211,321     "/>     
    </svg>
  </a>
  <h1>{{site.title}}</h1>  
 <!--<p>{{site.tagline}}</p>-->
<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" class="toggle-label"><span>menu</span></label>
<nav role="navigation">
<ul class="menu">
  <li><a href="{{site.baseurl}}/index.html" title="Home">Home</a></li>
  <li><a href="{{site.baseurl}}/about/" title="Learn more">About</a></li>
  <li><a href="{{site.baseurl}}/words/" title="Blog">Words</a></li>
  <li><a href="{{site.baseurl}}/photos/" title="Photos">Photos</a></li>  
  </ul>
</nav>
  </div>
</header>
{{content}}
  {% if page.id %}
  {% include footer-post.html %}
  {% else %}
  {% include footer.html %}
  {% endif %}
</body>
</html>
