---
layout: default
page-type: post
---
<main role="main" class="cf">
<article class="posts">
 <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h2>{{page.title}}</h2>
            <time itemprop="dateCreated" datetime="{{page.date}}">
                {{ page.date | date: "%B %-d, %Y" }}</time>
        </header>
        {{content}}        
    </article>
    <section class="post-links">    
  {% if page.previous.url %}
    <p class="prevLink"><a class="previous" href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a></p>
  {% endif %}
  {% if page.next.url %}
    <p class="nextLink"><a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></p>
  {% endif %}
	</section>
    </article>
</main>
